__pycache__/
.vscode
.vscode/settings.json
runs
runs/

# test data
*.ttf
*.jpg
*.png
result/
original.json
result.json
ori_handwriting/test.png
test*

# pretrained_model
pretrained/
tessdata/

# pictures
ori_handwriting/centered_pic/
ori_handwriting/svgs/
ori_handwriting/transparented/

# datasets
datasets/dumps/
datasets/fonts/